# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*~
Especificacion/.~lock.DefinicionSegundoProyecto..docx#
Documentacion/.~lock.SO-SegundoProyecto.odt#

inicializador
fecha
reader
writer
lector
finalizador
espia
readerEgoista
*.txt
